*{
    margin: 0px;
    padding: 0px;

}
body {
    margin-left:  100px;
    margin-right: 100px;
    background-image: url('./background.png');
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:  fixed; 
    box-shadow: -5px 5px 20px black;
}

header{
    margin-left:  15px;
    margin-right: 15px;
}
footer{
    margin-left:  15px;
    margin-right: 15px;
}

title {
    font-size: 25px;
    font-weight: bold;
    color: #68caee;
    padding-top: 13px;
    padding-bottom: 10px;
    /* display: flex; */
}
.table {
			margin: auto;
			padding: 5px;
			width: 100%; 
			text-align: center;
		}


h1{
    /* background-color: chocolate; */
    padding: 10px 20px 10px 10px;
    margin: 0px;
}

form {    
    float: right;
    margin-right: 10px;
    margin-left: 13px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #8a7c7c;
    border: 1px solid rgba(197, 119, 178, 0.74);
    background: #9ca2b8a4;
    border-radius: 5px;
}

form:hover {
    cursor: pointer;
    background-color: rgba(126, 126, 202, 0.753);
    color: white;
    transition: 0.7s;
}
#RTC{
    padding: 2px;
    background-color: #fcfcfc;
}



#left {
   width: 100%;
   background-color: rgba(109, 77, 66, 0.904);
   float: center;
   text-align: center;
}

.boxtitle{
    font-weight: bold;
    font-size: medium;
    padding: 20px 20px 20px 10px;
    font-size: 125%;
    border-top: aliceblue solid 2px;
    border-bottom: aliceblue solid 2px;
}

#h-header, #h-body{
    width: 100%;
    margin: auto;
    display: flex;
    /* background-color: darksalmon; */
}

form {    
    float: right;
    margin-left: 13px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
  
}

form:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 218);
    color: white;
    transition: 0.7s;
}


header-content{
    padding: 10px 0px;
    background-color: transparent;
    font-size: 120%;
}

#h-id{
    float: left;
    width: 10%;
    padding-left: 20px;
}

#h-time{
    float: left;
    width: 22.5%;
}

#h-temp{
    float: left;
    width: 22.5%;
}

#h-humi{
    float: left;
    width: 22.5%;
}

#h-light{
    float: left;
    width: 22.5%;
}

/* --------table body------- */
#time-content{
    width:22.5%;
    float: left;
}

#id-content{
    float: left;
    width:10%;
}

#temp-content, #humi-content{
    width:22.5%;
    float: left;
}
#light-content{
    float: left;
    width:22.5%;
}
/* -------------------------- */

h-para{
    padding: 10px 20px;
    border-bottom: 1px solid rgb(177, 140, 73);
}

main{
    height:600px ;
}


button{
    padding-right: 0px;
}

.bg_banner{
    width: 900px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../img/banner_IOT.png);
}

.bg_menu{
    padding-left: 100px;
}

.bg_menu > ul > li{
    list-style: none;
    float: left;
    padding-left: 0px;
}

.bg_menu > ul > li > a{
    text-decoration: none;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 40px;
    display: block;
    border-right: 2px solid black;
}

.bg_menu > ul  > li  > a:hover{
    background: orange;
    color: black;
    font-weight: bold;
    transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -webkit-transition: ease-in 0.5s;
}

#Refesh a{
    text-decoration: none;
}

#Refesh a:hover{
    font-style: italic;
    color: red;
    font-size: 20px;
}

.bg_menu > ul  > li:hover .bg_menu_ht{
    display: block;
}

.bg_menu_ht{
    width: 200px;
    min-height: 100px;
    background-color: #ccc;
    display: none;
    position: absolute;
    z-index: 3;
    opacity: 0.7;
}

.bg_menu_ht > li{
    list-style: none;
}

.bg_menu_ht > li > a{
    text-decoration: none;
    color: blue;
    display: block;
    text-indent: 15px;
    line-height: 40px;
}

.bg_menu_ht > li  a:hover{
    background: red;
    border-left: 5px solid blue;
}

.bg_mid{
    width: 900px;
    min-height: 100vh;
    background-size: 100%; 
    background-image: linear-gradient(0,  rgba(171, 178, 185, 0.7) ,rgba(93, 109, 126, 0.7));
    position: relative;
    float:left;
}


.sr_temp, .sr_humi, .sr_gas {
    width: 180px;
    height: 200px;
    border: 3px solid orange;
    border-radius: 15px;
    position: relative;
    float: left;  
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px 15px #333;
}

.sr_add{
    width: 180px;
    height: 200px;
    border: 3px solid orange;
    border-radius: 15px;
    position: relative;
    float: left;
    margin-top: 120px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 5px 5px 15px #333;
}

.sr_temp > img, .sr_humi > img, .sr_gas > img, .sr_add > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sr_temp > p, .sr_humi > p, .sr_gas > p{
    font-size: 22px;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 220px;
}
